@keyframes submarineLoop {
  0% {
    transform: translate(0, 800px);
  }

  50% {
    transform: translate(640px, 400px) rotate(180deg);
  }
  100% {
    transform: translate(1280px, 0) rotate(0deg);
  }
}

.end__wrap {
  width: 1280px;
  height: 800px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.end__background,
.end__text,
.end__score,
.end__submarine {
  position: absolute;
}

.end__background {
  width: 1280px;
  height: 800px;
  background-image: url("../../src/assets/background/ocean-full.png");
  -webkit-animation: backgroundScroll 5999999s linear infinite;
  animation: backgroundScroll 5999999s linear infinite;
}

.end__text {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 240px;
  width: 700px;
  height: 500px;
  background-image: url("../../src/assets/sprites/gameover.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.end__score {
  font-family: "upheaval", monospace;
  font-size: 50px;
  color: white;
  width: 1280px;
  text-align: center;
  top: 440px;
}

.end__score--oxo {
  top: 480px;
}

.end__score--waste {
  top: 560px;
}

.end__score--collected {
  top: 600px;
}

.end__submarine {
  height: 72px;
  width: 120px;
  transform: translate(0, 800px);
  background-image: url("../../src/assets/sprites/submarine.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: submarineLoop 3s linear;
}
