.instructions__background {
  width: 1280px;
  height: 800px;
  background-image: url('../../src/assets/background/instructions.gif');
  background-size: contain;
}

.instructions__back {
  position: absolute;
  font-family: "upheaval", monospace;
  color: white;
  font-size: 60px;
  left: 30px;
}

.instructions__back:hover {
  cursor: pointer;
}