body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: "upheaval";
  src: url("../assets/font/upheavtt-webfont.woff2") format("woff2"),
    url("../assets/font/upheavtt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}